<div class="flex gap-4 py-8 max-sm:grid max-sm:grid-cols-3">
    <p class="text-primary font-inter text-[20px] font-normal leading-6 cursor-pointer">© 2023</p>
    <p class="text-primary font-inter text-[20px] font-normal leading-6 cursor-pointer">Twitter</p>
    <p class="text-primary font-inter text-[20px] font-normal leading-6 cursor-pointer">LinkedIn</p>
    <p class="text-primary font-inter text-[20px] font-normal leading-6 cursor-pointer">Email</p>
    <p class="text-primary font-inter text-[20px] font-normal leading-6 cursor-pointer">RSS feed</p>
    <p class="text-primary font-inter text-[20px] font-normal leading-6 cursor-pointer">Add to Feedly</p>
</div>