<div class="flex gap-4 py-8">
    <p class="text-darkTheme font-inter text-[20px] font-normal leading-6 cursor-pointer">© 2023</p>
    <p class="text-darkTheme font-inter text-[20px] font-normal leading-6 cursor-pointer">Twitter</p>
    <p class="text-darkTheme font-inter text-[20px] font-normal leading-6 cursor-pointer">LinkedIn</p>
    <p class="text-darkTheme font-inter text-[20px] font-normal leading-6 cursor-pointer">Email</p>
    <p class="text-darkTheme font-inter text-[20px] font-normal leading-6 cursor-pointer">RSS feed</p>
    <p class="text-darkTheme font-inter text-[20px] font-normal leading-6 cursor-pointer">Add to Feedly</p>
</div>