<div class="flex justify-center border-y border-primary ">
  <h1 class="text-primary font-inter max-sm:text-[7vh] max-lg:text-[10vh] max-2xl:text-[160px] text-[224px] font-bold">
    THE BLOG
  </h1>
</div>
<div class="mt-7">
  <app-recent-blog [data]="recentBlogs"></app-recent-blog>
</div>
<div class="mt-7 border-b">
  <app-all-blog [data]="showBlogsByItemPerPage"></app-all-blog>
</div>
<div class="mt-5">
  <app-paging [pageNumber]="pageNumber" (currentPage)="handlePageChanged($event)"></app-paging>
</div>