<div class="flex flex-col gap-8">
    <h3 class="text-primary font-inter text-[24px] font-semibold leading-8">Recent blog posts</h3>
    <div class="grid grid-cols-2 grid-rows-3 gap-8 max-sm:grid-cols-1 max-2xl:grid-cols-2 max-2xl:grid-rows-2">
        <ng-container *ngFor="let blog of data; first as first; last as last">
            <div *ngIf="first" class="row-span-2 max-2xl:row-span-1">
                <app-blog-card [first]="true" [blog]="blog" [width]="592" [height]="228"></app-blog-card>
            </div>
            <div *ngIf="last" class="col-span-2 max-2xl:col-span-1">
                <app-blog-card [last]="true" [blog]="blog" [width]="592" [height]="246"></app-blog-card>
            </div>
            <div *ngIf="!first && !last">
                <app-blog-card [blog]="blog" [width]="320" [height]="200"></app-blog-card>
            </div>
        </ng-container>
    </div>
</div>