<div class="flex flex-col items-center justify-center my-8">
    <p class="font-inter text-date text-[16px] font-semibold leading-7 mb-3">Newlatter</p>
    <h3 class="font-inter text-[48px] text-primary font-semibold leading-[60px] tracking-wider-[-0.96px] mb-6">Stories
        and interviews
    </h3>
    <p class="font-inter text-[20px] text-primary font-normal leading-8 mb-10">
        Subscribe to learn about new product features, the latest in technology, <br>
        solutions, and updates.
    </p>
    <div class="flex flex-col">
        <div class="flex mb-2 gap-4">
            <input class="w-[360px] px-4 py-3 rounded-lg border border-primary" type="email"
                placeholder="Enter your email">
            <button
                class="font-inter text-[16px] leading-6 font-medium bg-date px-5 py-3 rounded-lg border border-date text-lightTheme">
                Subscribe
            </button>
        </div>
        <p class="font-inter text-[14px] text-primary font-normal leading-5">
            We care about your data in our <span class="underline cursor-pointer">privacy policy</span>
        </p>
    </div>
</div>