<div class="flex" [class]="first ? 'flex-col' : 'flex-row gap-6'">
    <img *ngIf="blog.mainImage" [src]="blog.mainImage | sanityImage:width" alt="">
    <div class="flex flex-col">
        <a class="text-date mb-3" [routerLink]="'/author/' + (blog.author | lowercase)">
            {{blog.author + " • " + (blog.publishedAt | date: "fullDate")}}</a>
        <a class="font-inter text-[24px] font-semibold leading-8 text-black mb-3" [routerLink]="'/blog/' + blog.slug">
            {{blog.title}}
        </a>
        <p class="font-inter text-[16px] font-normal leading-7 text-description mb-6">
            {{blog.description}}
        </p>
        <div class="flex gap-2">
            <ng-container *ngFor="let tag of blog.categories">
                <div class="flex justify-center py-[2px] px-[10px] rounded bg-tag">
                    <p class="text-date font-inter text-[14px] font-medium leading-5">{{tag}}</p>
                </div>
            </ng-container>
        </div>
    </div>
</div>